EXPO_PUBLIC_SUPABASE_URL=https://hnwrhkrzvjesjrtjpjtm.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_WEB_URL=
EXPO_PUBLIC_APP_SCHEME=gogaffa
EXPO_PUBLIC_ENVIRONMENT=development
EXPO_PUBLIC_IOS_BUNDLE_IDENTIFIER=com.ivs.gogaffa
EXPO_PUBLIC_ANDROID_PACKAGE=com.ivs.gogaffa
EXPO_PUBLIC_SUPPORT_EMAIL=denshimdon@gmail.com
